@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}




li, a, button {
    font-family: 'Montserrat', sans-serif ;
    font-weight: bold;
    font-size: 16px;
    color: #595952;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_ul{
    list-style: none;
    
}
.nav_ul li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_ul li a{
    transition: all 0.3s ease 0s;
}
.nav_ul li a:hover {
    color: #63b4da;
}

button {
    padding: 9px 25px;
    background-color: #C4C4C4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:#afafaf;
}
.text-ray{
    position: absolute;
    width: 184px;
    height: 48px;
    left: 200px;
    top:225px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    background: rgba(0, 0, 0, 0);
    color:#595952;
}

.image_main{
    position: absolute;
    width: 560.99px;
    height: 515 .72px;
    left: 880px;
    top: 130px;
    cursor: pointer;
}

.text-dev{
    position: absolute;
    width: 605px;
    height: 87px;
    left: 200px;
    top: 259px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    background: rgba(0, 0, 0, 0);
    color: #595952;
}

.text-ui{
    position: absolute;
    width: 605px;
    height: 87px;
    left: 200px;
    top: 312px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    background: rgba(0, 0, 0, 0);
    color: #595952;
}
.text-desc{
    position: absolute;
    width: 524px;
    height: 125px;
    left: 200px;
    top: 399px;

    font-family: 'Nunito' , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.71);
}
.mail{
    cursor: pointer;
    position: absolute;
    left: 216px;
    top: 525px;
    background: rgba(0, 0, 0,0 );
}
.text-button{
    position: absolute;
    left: 253px;
    top:527px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    background:#78E5e1 ;
    border-radius: 10px;
    cursor: pointer;
}

.tutul{
    position:absolute;
    width: 45px;
    height: 79px;
    left: 134px;
    top: 622px;
}

.button{
    position: relative;
    top: 10px;
}
.text-button:hover {
    background-color:#afafaf;
}
