@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@500&display=swap');
@import "font-awesome";
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}






body{
    overflow-x: hidden;
}

nav{
    height: 80px;
    width: 100%;
    background: rgb(235, 228, 228);
    position: fixed;
    top: 0;
    z-index: 10;

}

.logo{
    cursor: pointer;
    margin-right: auto;
    position: relative;
    left: 147px;
    width: 130px;
    height: 28px;
    top: 28px;
}
nav ul{
    float: right;
    margin-right: 2px;
    
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
    padding: 0px 20px;
    
}


nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-left: 20px;
    line-height: 33px;
}
.active{
    opacity: 1;
  
    
}
.active,li a:hover{
    opacity: 0.8;
    background: #c4c4c4;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.photo{
    position: relative;
    width: 573px;
    height: 497px;
    left: 900px;
    top: -210px;
    background:none;
}


.textray{
    position: relative;
    width: 184px;
    height: 48px;
    left: 200px;
    top: 255px;
    

    font-family: 'Nunito', sans-serif;
    
    
    font-size: 2em;
    
    color: #595952;
  
}
.textdev{
    position: relative;
    width: 605px;
    height: 87px;
    left: 200px;
    top: 248px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    color: #595952;
    background: none;
}

.textui{
    position: relative;
    width: 460px;
    height: 87px;
    left: 200px;
    top: 223px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    color: #595952;
    background: none;
}

.textdesc{
    position: relative;
    width: 524px;
    height: 125px;
    left: 200px;
    top: 220px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.71);
}

.email{
    position: relative;
    width: 161px;
    height: 40px;
    left: 200px;
    top: 222px;
 
    opacity: 1;
    background-color: #78e5e1;
    border-radius: 10px;
}

.btn{
    color: #292926;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding:  8px 22px;
    display: inline-block;
}
.email:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}


  