@media(min-width:1920px){
  .content{
    position: relative;
    left: 10px;
  }
}




@media (max-width:1440px){
  .content{
    position: relative;
    left: -230px;
  }
}
/*mac*/
@media  (max-width:1281px){
  .content{
    position: relative;
    left: -300px;
  }


  /*tab*/

}

@media (max-width:1115px){
 .content{
  position: relative;
  left: -400px;
 }
}

/*medium*/
@media (max-width:1024px){
  .content{
    position: relative;
    left: -420px;
  }
}


@media (max-width: 885px){
 .text-pro{
   position: relative;
  left: 695px;
 }
  .text-Design{
    font-size: 300px;
    position: relative;
  }

  .content{
    position: relative;
   
    left: -659px;
    margin: auto;
  }
 
 .grid-item{
   position: relative;
   top: 350px;

 }

.design{
  position: relative;
  left: -120px;
  
  
}

.text-Design{
  font-size: 20px;
}
.hr{
  width: 134px;
  position: relative;
  top: 245px;
}

.grid{
  top: -280px;
  margin: -55px;
  grid-gap: 98rem;
  position: relative;
  left: -10px;
  display: inline-block;
  margin-bottom: -90px;
}
.main {
  margin-top: 200px;
 padding: 5rem;
 
}


}

/*ipad*/
@media (max-width: 850px){
  .text-pro{
    position: relative;
    left: 690px;
  }
   .text-Design{
     font-size: 300px;
   }
 
   .content{
     position: relative;
    
     left: -659px;
     margin: auto;
   }
  
  .grid-item{
    position: relative;
    top: 350px;
 
  }
 
 .design{
   position: relative;
   left: -120px;
   
   
 }
 
 .text-Design{
   font-size: 20px;
 }
 .hr{
   width: 134px;
   position: relative;
   top: 245px;
 }
 
 .grid{
   top: -280px;
   margin: -55px;
   grid-gap: 98rem;
   position: relative;
   left: -10px;
   display: inline-block;
   margin-bottom: -90px;
 }
 .main {
   margin-top: 200px;
  padding: 5rem;
  
 }
 
 
 }

 /*Smartphone*/
 @media all and (max-width: 666px){
.wide{
  position: relative;
  top: -60px;
}
.text-pro{
  position: relative;
  left: 690px;
}

  .content{
    position: relative;
    left: -659px;
   
  }
 
 .grid-item{
   overflow: hidden;
   position: relative;
   top:120px;
   overflow: hidden;
 }

.design{
  position: relative;
  left: -120px;
  
  
}

.text-Design{
  font-size: 20px;
}
.hr{
  width: 134px;
  position: relative;
  top: 245px;
}

.grid{
  position: relative;
  margin: -45px;
  top: 100px;
}
 }

  /*Smartphone*/
  @media all and (max-width: 330px){
   .wide{
     position: relative;
     top: -60px;
   }
    .text-pro{
      position: relative;
      left: 690px;
    }
    
      .content{
        position: relative;
        left: -659px;
       
      }
     
     .grid-item{
       overflow: hidden;
       position: relative;
       top:190px;
       overflow: hidden;
     }
    
    .design{
      position: relative;
      left: -120px;
      
      
    }
    
    .text-Design{
      font-size: 20px;
    }
    .hr{
      width: 134px;
      position: relative;
      top: 245px;
    }
    
    .grid{
      position: relative;
      margin: -45px;
      top: 100px;
    }
     }





@media (max-width: 952px){
    .logo{
      top: 23px;
      left: -30px;
      width: 200px;
      height: 27px;
    }
    nav ul li a{
      font-size: 16px;
    }
  
    
  }
  
  @media (max-width: 858px){
    .container{
      position: relative;
      left: 50px;
      top: -30px;
    }

    .checkbtn{
      display: block;
    }
    .logo{
      top: 30px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -1000px;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0px;
      line-height: 30px;
  
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover, a.project{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  
    .photo{
      position: relative;
      width: 100%;
      height: 650px;
      left: -75px;
      top: 170px;
  }
  
  .textray{
    position: relative;
    left: 27px;
    top: 150px;
  }
  
  .textdev{
    position: relative;
    left: 27px;
    top:140px;
  }
  
  .textui{
    top: 116px;
    position: relative;
    left: 27px;
  }
  
  .textdesc{
    top: 120px;
    position: relative;
    left: 27px;
  }
  
  .btn {
    left: 24px;
    top: 130px;
  }
  
  }

  /*Smartphone*/
  @media all and (max-width: 666px){
      
    html{
      overflow: auto;
    }

    .container{
      position: relative;
      left: 10px;
      top: -6px;
    }
    nav{
      height: 60px;
      width: 100%;
      background: rgb(235, 228, 228);
      position: fixed;
      top: 0;
      z-index: 10;
    }

    .logo{
      position: relative;
      top: 22px;
    }
  

    .checkbtn{
      position: relative;
      top: -6px;
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 60px;
      left: -1000px;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0px;
      line-height: 30px;
  
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover, a.project{
      
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  
  
    .photo{
      position: relative;
      width: 100%;
      height: 397px;
      left: -29px;
      top: 80px;
     z-index: -1;
  }
  .textray{
      left: 14px;
      width: 100%;
      height: 33px;
      top: 105px;

      font-size: 24px;
      line-height: 33px;
  }

  .textdev{
    width: 100%;
    height: 65px;
    left: 14px;
    top: 96px;

    font-size: 34px;
    line-height: 65px;
  }

  .textui{
    width: 100%;
    height: 65px;
    left: 14px;
    top: 66px;

    font-size: 34px;
    line-height: 65px;
  }

  .textdesc{
    width: 327px;
    left: 14px;
    top: 66px;

    font-size: 14px;
    line-height: 19px;
  }

  .btn {
    left: 14px;
    top: 60px;
  }
  .grid{
    position: relative;
    top: -150px;
    left: -6px;
  }
  
    
  
  
  }
 
  